extends /layouts/_default

block content

  h2 Glyphicons

  div.example
    div.btn-group(role="group" aria-label="Align")
      button.btn.btn-default(type="button", aria-label="Left Align")
        span.glyphicon.glyphicon-align-left(aria-hidden="true")
      button.btn.btn-default(type="button", aria-label="Center Align")
        span.glyphicon.glyphicon-align-center(aria-hidden="true")
      button.btn.btn-default(type="button", aria-label="Right Align")
        span.glyphicon.glyphicon-align-right(aria-hidden="true")
      button.btn.btn-default(type="button", aria-label="Justify Align")
        span.glyphicon.glyphicon-align-justify(aria-hidden="true")

  div.example
    button.btn.btn-default.btn-lg(type="button")
      span.glyphicon.glyphicon-star(aria-hidden="true")
      | Star
    button.btn.btn-default(type="button")
      span.glyphicon.glyphicon-star(aria-hidden="true")
      | Star
    button.btn.btn-default.btn-sm(type="button")
      span.glyphicon.glyphicon-star(aria-hidden="true")
      | Star
    button.btn.btn-default.btn-xs(type="button")
      span.glyphicon.glyphicon-star(aria-hidden="true")
      | Star

  div.example
    div.alert.alert-danger(role="alert")
      span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
      span.sr-only Error:
      Enter a valid email address

  h2 Dropdowns

  div.example
    div.dropdown
      button.btn.btn-default.dropdown-toggle(type="button", id="dropdownMenu1", data-toggle="dropdown", aria-expanded="true") Dropdown
        span.caret
      ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu1")
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Action
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Another action
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Something else here
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Separated link

  h3 Headers
  p <code>.dropdown-header</code>で見出しアイテム
  div.example
    div.dropdown
      button.btn.btn-default.dropdown-toggle(type="button", id="dropdownMenu2", data-toggle="dropdown", aria-expanded="true") Dropdown
        span.caret
      ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu2")
        li.dropdown-header(role="presentation") Dropdown header 1
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Action
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Another action
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Something else here
        li.dropdown-header(role="presentation") Dropdown header 2
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Separated link

  h3 Divider
  p <code>.divider</code>でセパレータ
  div.example
    div.dropdown
      button.btn.btn-default.dropdown-toggle(type="button", id="dropdownMenu3", data-toggle="dropdown", aria-expanded="true") Dropdown
        span.caret
      ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu2")
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Action
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Another action
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Something else here
        li.divider(role="presentation")
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Separated link

  h3 Disabled menu items
  p <code>.disabled</code>でグレーアウト
  div.example
    div.dropdown
      button.btn.btn-default.dropdown-toggle(type="button", id="dropdownMenu4", data-toggle="dropdown", aria-expanded="true") Dropdown
        span.caret
      ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu4")
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Regular link
        li.disabled(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Disabled link
        li(role="presentation")
          a(role="menuitem", tabindex="-1", href="#") Another link


  h2 Button groups

  div.example
    div.btn-group(role="group" aria-label="...")
      button.btn.btn-default(type="button") Left
      button.btn.btn-default(type="button") Middle
      button.btn.btn-default(type="button") Right

  h3 Button toolbar
  p <code>.btn-toolbar</code>と組み合わせるとツールバーのボタンをグループ化できる。
  div.example
    div.btn-toolbar(role="toolbargroup" aria-label="...")
      div.btn-group(role="group" aria-label="...")
        button.btn.btn-default(type="button") 1
        button.btn.btn-default(type="button") 2
        button.btn.btn-default(type="button") 3
        button.btn.btn-default(type="button") 4
      div.btn-group(role="group" aria-label="...")
        button.btn.btn-default(type="button") 5
        button.btn.btn-default(type="button") 6
        button.btn.btn-default(type="button") 7
      div.btn-group(role="group" aria-label="...")
        button.btn.btn-default(type="button") 8

  h3 Sizing
  p 個別のボタンにサイズ指定クラスを設定するのではなく、<code>.btn-group-*</code>でbutton groupに一括指定できる。
  div.example
    div.btn-group.btn-group-lg(role="group" aria-label="...")
      button.btn.btn-default(type="button") Left
      button.btn.btn-default(type="button") Middle
      button.btn.btn-default(type="button") Right
    br
    div.btn-group(role="group" aria-label="...")
      button.btn.btn-default(type="button") Left
      button.btn.btn-default(type="button") Middle
      button.btn.btn-default(type="button") Right
    br
    div.btn-group.btn-group-sm(role="group" aria-label="...")
      button.btn.btn-default(type="button") Left
      button.btn.btn-default(type="button") Middle
      button.btn.btn-default(type="button") Right
    br
    div.btn-group.btn-group-xs(role="group" aria-label="...")
      button.btn.btn-default(type="button") Left
      button.btn.btn-default(type="button") Middle
      button.btn.btn-default(type="button") Right

  h3 Nesting
  p <code>.btn-group</code>の入れ子も可能
  div.example
    div.btn-group(role="group" aria-label="...")
      button.btn.btn-default(type="button") 1
      button.btn.btn-default(type="button") 2
      div.btn-group(role="group")
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown" aria-expanded="false") Dropdown
          span.caret
        ul.dropdown-menu(role="menu")
          li
            a(href="#") Dropdown link
          li
            a(href="#") Dropdown link

  h3 Vertical variation
  p <code>.btn-group-vertical</code>で垂直方向に配置
  div.example
    div.btn-group-vertical(role="group" aria-label="...")
      button.btn.btn-default(type="button") Button
      button.btn.btn-default(type="button") Button
      div.btn-group(role="group")
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown" aria-expanded="false") Dropdown
          span.caret
        ul.dropdown-menu(role="menu")
          li
            a(href="#") Dropdown link
          li
            a(href="#") Dropdown link
      button.btn.btn-default(type="button") Button


  h2 Button dropdowns

  h3 Single button dropdowns
  p <code>.btn-group</code>で囲んでメニューアイテムを定義するだけでドロップダウンボタンを作れる
  div.example
    div.btn-group
      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        | Default
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Action
        li
          a(href="#") Another action
        li
          a(href="#") Something else here
        li.divider
        li
          a(href="#") Separated link

  h3 Split button dropdowns
  p ドロップダウンを表示するボタンだけ分けることも可能
  div.example
    div.btn-group
      button.btn.btn-default(type="button") Default
      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Action
        li
          a(href="#") Another action
        li
          a(href="#") Something else here
        li.divider
        li
          a(href="#") Separated link

  h3 Sizing
  p サイズ変更も可能
  div.example
    div.btn-group
      button.btn.btn-default.btn-lg.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        | Large button
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Action
        li
          a(href="#") Another action
        li
          a(href="#") Something else here
        li.divider
        li
          a(href="#") Separated link
    div.btn-group
      button.btn.btn-default.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        | Small button
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Action
        li
          a(href="#") Another action
        li
          a(href="#") Something else here
        li.divider
        li
          a(href="#") Separated link
    div.btn-group
      button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        | Extra small button
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Action
        li
          a(href="#") Another action
        li
          a(href="#") Something else here
        li.divider
        li
          a(href="#") Separated link

  h3 Dropup variation
  p <code>.dropup</code>でドロップダウンメニューをボタンの上側にも表示可能
  div.example
    div.btn-group.dropup
      button.btn.btn-default(type="button") Default
      button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Action
        li
          a(href="#") Another action
        li
          a(href="#") Something else here
        li.divider
        li
          a(href="#") Separated link
