extends /layouts/_default

block content

  h2 Grid system

  h3 Stacked-to-horizontal
  p 外側から <code>.container</code> → <code>.row</code> → <code>.col-*</code> の順で囲む12カラムのGridシステム。 <code>.col-xs-*</code> を使うとスマートフォン (<768px)、<code>.col-sm-*</code> を使うとタブレット (<992px)、<code>.col-md-*</code> を使うとPC (<1200px)、<code>.col-lg-*</code> を使うとさらに大画面PCサイズでのGridを制御できる。
  div.container
    div.row.show-grid
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
    div.row.show-grid
      div.col-md-8 .col-md-8
      div.col-md-4 .col-md-4
    div.row.show-grid
      div.col-md-4 .col-md-4
      div.col-md-4 .col-md-4
      div.col-md-4 .col-md-4
    div.row.show-grid
      div.col-md-6 .col-md-6
      div.col-md-6 .col-md-6
    div.row.show-grid
      div.col-md-12 .col-md-12

  h3 Fluid container
  p <code>.container</code> に対して <code>.container-fluid</code> は幅全体に広がる。
  div.container-fluid
    div.row.show-grid
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
      div.col-md-1 .col-md-1
    div.row.show-grid
      div.col-md-8 .col-md-8
      div.col-md-4 .col-md-4
    div.row.show-grid
      div.col-md-4 .col-md-4
      div.col-md-4 .col-md-4
      div.col-md-4 .col-md-4
    div.row.show-grid
      div.col-md-6 .col-md-6
      div.col-md-6 .col-md-6
    div.row.show-grid
      div.col-md-12 .col-md-12

  h3 Mobile and Desktop
  p モバイルでのカラム幅 (<code>.col-xs-*</code>) とデスクトップでのカラム幅 (<code>.col-md-*</code>) を別々に指定して異なるGridレイアウトにする。
  div.container
    div.row.show-grid
      div.col-xs-12.col-md-8 .col-xs-12 .col-md-8
      div.col-xs-6.col-md-4 .col-xs-6 .col-md-4
    div.row.show-grid
      div.col-xs-6.col-md-4 .col-xs-6 .col-md-4
      div.col-xs-6.col-md-4 .col-xs-6 .col-md-4
      div.col-xs-6.col-md-4 .col-xs-6 .col-md-4
    div.row.show-grid
      div.col-xs-6 .col-xs-6
      div.col-xs-6 .col-xs-6

  h3 Mobile, Tablet, Desktop
  p モバイル、タブレット、デスクトップのカラム幅をすべて個別に設定する。<code>div.clearfix.visible-sm-block</code> を指定すると、タブレットサイズのときだけ途中で折り返せる。
  div.container
    div.row.show-grid
      div.col-xs-12.col-sm-6.col-md-8 .col-xs-12 .col-sm-6 .col-md-8
      div.col-xs-6.col-md-4 .col-xs-6 .col-md-4
    div.row.show-grid
      div.col-xs-4.col-sm-4 .col-xs-6 .col-sm-4
      div.col-xs-4.col-sm-4 .col-xs-6 .col-sm-4
      // Optional: clear the SM cols if their content doesn't match in height
      div.clearfix.visible-sm-block
      div.col-xs-4.col-sm-4 .col-xs-6 .col-sm-4

  h3 Column wrapping
  p 12カラムより多く配置すると自動的に折り返される。
  div.container
    div.row.show-grid
      div.col-xs-9 .col-xs-9
      div.col-xs-4 .col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
      div.col-xs-6 .col-xs-6<br>Subsequent columns continue along the new line.

  h3 Responsive column resets
  p 1つ目のカラムの高さが大きいと3つ目が回りこんでしまうので、明示的に<code>.clearfix</code>してやる。
  div.container
    div.row.show-grid
      div.col-xs-6.col-sm-3 .col-xs-6 .col-sm-3<br>Resize your viewport or check it out on your phone for an example.
      div.col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
      // Add the extra clearfix for only the required viewport
      div.clearfix.visible-xs-block
      div.col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
      div.col-xs-6.col-sm-3 .col-xs-6 .col-sm-3

  h3 Offsetting columns
  p <code>.col-md-offset-*</code>でカラムの左側にマージンを付けられる。
  div.container
    div.row.show-grid
      div.col-md-4 .col-md-4
      div.col-md-4.col-md-offset-4 .col-md-4 .col-md-offset-4
    div.row.show-grid
      div.col-md-3.col-md-offset-3 .col-md-3 .col-md-offset-3
      div.col-md-3.col-md-offset-3 .col-md-3 .col-md-offset-3
    div.row.show-grid
      div.col-md-6.col-md-offset-3 .col-md-6 .col-md-offset-3

  h3 Nesting columns
  p 入れ子にすると内側も12カラムのGridシステム。
  div.container
    div.row.show-grid
      div.col-sm-9
        p Level 1: .col-sm-9
        div.row.show-grid
          div.col-xs-8.col-sm-6 Level 2: .col-xs-8 col-sm-6
          div.col-xs-4.col-sm-6 Level 2: .col-xs-4 col-sm-6

  h3 Column ordering
  p <code>.col-md-push-*</code>と<code>.col-md-pull-*</code>でカラムの順番を入れ替えられる。
  div.container
    div.row.show-grid
      div.col-md-9.col-md-push-3 .col-md-9 .col-md-push-3
      div.col-md-3.col-md-pull-9 .col-md-3 .col-md-pull-9


  h2 Typography

  h3 Headings
  p <code>&lt;h1&gt;</code>から<code>&lt;h6&gt;</code>まで使用できる。
  div.example
    h1 h1. Bootstrap heading
    h2 h2. Bootstrap heading
    h3 h3. Bootstrap heading
    h4 h4. Bootstrap heading
    h5 h5. Bootstrap heading
    h6 h6. Bootstrap heading

  p <code>&lt;small&gt;</code>または<code>.small</code>でサブテキストを作れる。
  div.example
    h1
      | h1. Bootstrap heading
      small Secondary text
    h2
      | h2. Bootstrap heading
      small Secondary text
    h3
      | h3. Bootstrap heading
      small Secondary text
    h4
      | h4. Bootstrap heading
      small Secondary text
    h5
      | h5. Bootstrap heading
      small Secondary text
    h6
      | h6. Bootstrap heading
      small Secondary text

  h3 Body copy
  p Bootstrapのデフォルトは、<code>font-size</code>が14px、<code>line-height</code>が1.428。
  div.example
    p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.

  p <code>.lead</code>で目立たせることができる。
  div.example
    p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.

  h3 Inline text elements
  p <code>&lt;mark&gt;</code>でハイライトされたテキスト
  div.example
    p
      mark You can use the mark tag to highlight text.

  p <code>&lt;del&gt;</code>で削除されたテキスト
  div.example
    p
      del This line of text is meant to be treated as deleted text.

  p <code>&lt;s&gt;</code>で取り消されたテキスト
  div.example
    p
      s This line of text is meant to be treated as no longer accurate.

  p <code>&lt;ins&gt;</code>で追加されたテキスト
  div.example
    p
      ins This line of text is meant to be treated as an addition to the document.

  p <code>&lt;u&gt;</code>で下線が付いたテキスト
  div.example
    p
      u This line of text will render as underlined.

  p <code>&lt;small&gt;</code>または<code>.small</code>でサイズ85%のテキスト
  div.example
    p
      small This line of text is meant to be treated as fine print.

  p <code>&lt;strong&gt;</code>で太字のテキスト
  div.example
    p
      strong rendered as bold text

  p <code>&lt;em&gt;</code>でイタリックのテキスト
  div.example
    p
      em rendered as italicized text

  h3 Alignment classes
  p <code>.text-left</code>, <code>.text-center</code>, <code>.text-right</code>, <code>.text-justify</code>, <code>.text-nowrap</code>でテキストのアライメントを調整。
  div.example
    p.text-left Left aligned text.
    p.text-center Center aligned text.
    p.text-right Right aligned text.
    p.text-justify Justified text. Justified text. Justified text. Justified text.
    p.text-nowrap No wrap text. No wrap text. No wrap text. No wrap text.

  h3 Transformation classes
  p <code>.text-lowercase</code>, <code>.text-uppercase</code>, <code>.text-capitalize</code>でテキストの大文字・小文字を調整。
  div.example
    p.text-lowercase Lowercased text.
    p.text-uppercase Uppercased text.
    p.text-capitalize Capitalized text.

  h3 Abbreviations
  p <code>&lt;abbr&gt;</code>の<code>title</code>属性のテキストはホバー表示される。
  div.example
    p
      abbr(title="HyperText Markup Language") HTML
      |  is the best thing since sliced bread.

  p <code>&lt;abbr&gt;</code>に<code>.initialism</code>を指定すると少しだけ小さなテキストになる。
  div.example
    p
      abbr.initialism(title="HyperText Markup Language") HTML
      |  is the best thing since sliced bread.

  h3 Addresses
  div.example
    address
      strong Twitter, Inc.
      br
      | 795 Folsom Ave, Suite 600
      br
      | San Francisco, CA 94107
      br
      abbr(title="Phone") P:
      |  (123) 456-7890
    address
      strong Full Name
      br
      a(href="mailto:#") first.last@example.com

  h3 Blockquotes
  p 通常の引用は<code>&lt;p&gt;</code>を<code>&lt;blockquote&gt;</code>で囲む。
  div.example
    blockquote
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

  p 引用元を明示するために<code>&lt;footer&gt;</code>と<code>&lt;cite&gt;</code>を追加する。
  div.example
    blockquote
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      footer
        | Someone famous in
        cite(title="Source Title") Source Title

  p <code>.blockquote-reverse</code>を指定すると右寄せになる。
  div.example
    blockquote.blockquote-reverse
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      footer
        | Someone famous in
        cite(title="Source Title") Source Title

  h3 Lists
  p <code>&lt;ul&gt;</code>で通常の順序なしリスト。
  div.example
    ul
      li Lorem ipsum
      li Phasellus iaculis
      li Nulla volutpat

  p <code>&lt;ol&gt;</code>で通常の順序ありリスト。
  div.example
    ol
      li Lorem ipsum
      li Phasellus iaculis
      li Nulla volutpat

  p <code>.list-unstyled</code>で<code>list-style</code>のないリスト。
  div.example
    ul.list-unstyled
      li Lorem ipsum
      li Phasellus iaculis
      li Nulla volutpat

  p <code>.list-inline</code>でインラインのリスト。
  div.example
    ul.list-inline
      li Lorem ipsum
      li Phasellus iaculis
      li Nulla volutpat

  p <code>&lt;dl&gt;</code>で通常の説明付きリスト。
  div.example
    dl
      dt Description lists
      dd A description list is perfect for defining terms.
      dt Euismod
      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      dd Donec id elit non mi porta gravida at eget metus.
      dt Malesuada porta
      dd Etiam porta sem malesuada magna mollis euismod.

  p <code>.dl-horizontal</code>で（幅が十分な場合に）左右に並べた説明付きリスト。
  div.example
    dl.dl-horizontal
      dt Description lists
      dd A description list is perfect for defining terms.
      dt Euismod
      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      dd Donec id elit non mi porta gravida at eget metus.
      dt Malesuada porta
      dd Etiam porta sem malesuada magna mollis euismod.
